Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On

# Default to public landing page when hitting the root.
RewriteRule ^$ public/index.php [L]

# Block direct access to internal folders.
RewriteRule ^config/ - [F,L]
RewriteRule ^includes/ - [F,L]
</IfModule>
